
/* #region Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Space+Grotesk:wght@500&display=swap');

/* Globalni font za ceo sajt*/
body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #000000; /* Primer boje */
  /* padding-top: 0 !important; */
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem; /* Primer veličine */
  color: #2c2c2c; /* Primer boje */
  letter-spacing: -2px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0; /* Manji razmak između redova */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
} 

/* Klasa koja se dodaje kada je element u vidljivosti */
p.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* #endregion */

/* #region Custom Mouse Cursor Styles */
    .custom-cursor {
      width: 30px;
      height: 30px;
      border: 2px solid #bdb2c3;
      border-radius: 50%;
      position: fixed;
      pointer-events: none;
      z-index: 9999;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s ease, transform 0.1s ease-out;
    }

    .custom-cursor-inner {
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
      position: fixed;
      pointer-events: none;
      z-index: 9998;
      transform: translate(-50%, -50%);
      transition: transform 0.1s ease-out;
    }
    
    .custom-cursor.hidden,
    .custom-cursor-inner.hidden {
      opacity: 0;
    }

/* #endregion */

/* #region Navbar Styles */
  .navbar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin-right: auto;
    margin-left: 17px;
  }

  .navbar-nav {
    margin-left: auto; /* Pomera sve stavke osim navbar-brand uz desnu ivicu */
  }

  .navbar-nav .nav-item {
    margin-left: 20px; /* Razmak između stavki */
  }

  .navbar-nav .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link.active {
    text-decoration: underline; /* Podvlačenje aktivne stavke */
  }

  .navbar-nav .nav-link:hover {
    color: #bdb2c3;
  }

  .navbar-nav .button-link {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .navbar-nav .button-link:hover {
    border-color: #000;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #000;
    text-decoration: none;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #000;
    display: block;
    position: relative;
    transition: all 0.3s ease; /* Smanjena tranzicija za brži efekat */
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #000;
    display: block;
    position: absolute;
    transition: all 0.3s ease;
  }
  
  .navbar-toggler-icon::before {
    top: -10px;
  }
  
  .navbar-toggler-icon::after {
    top: 10px;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: rotate(90deg);
    top: 0;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(90deg);
    top: 0;
  }
/* #endregion */

/* #region Intro Section Styles */
  .intro-section {
    background-color: #ebeaeb;
    padding: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  .display-4 {
    font-family: 'Space Grotesk';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000000; /* Primer boje */
    letter-spacing: -0.5px; /* Smanjen razmak između karaktera */
    line-height: 1.2; /* Smanjen razmak između redova */
  }

  .lead {
      font-family: 'Space Grotesk';
      font-size: 2rem;
      font-weight: 500;
      font-style: normal;
      color: #000000; /* Primer boje */
      letter-spacing: -0.5px; /* Smanjen razmak između karaktera */
      line-height: 1.2; /* Smanjen razmak između redova */
  }

  .btn {
    background-color: #000000; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
    border: none; /* Remove border */
    border-radius: 0; /* Rounded corners */
    font-size: 2rem; /* Font size */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline block display */
    transition: background-color 0.9s ease;
    margin-top: 60px;
    font-family: "Space Grotesk", serif;
  }

  .btn:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 1s ease;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 50px;
  }
/* #endregion */

/* #region Work Method Styles */
.work-method .title { 
  font-family: 'Space Grotesk', sans-serif; 
  font-size: 3rem; 
  padding-bottom: 50px;
  margin-top: 30px;
}

.work-method .subtitle { 
  font-family: 'Space Grotesk', sans-serif; 
  font-size: 2rem;
  padding-top: 50px;
} 

.work-method .text { 
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.work-method .img-fluid { 
  width: auto; 
  height: 800px; 
  object-fit: cover;
  padding: 0;
  margin: 0; 
}

.work-method .col-md-6.p-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  
}

@media (max-width: 767.98px) {
  .work-method .text-left {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* #endregion */

/* #region Slider Styles */

  .custom-slider-section {
    background-color: #000; /* Crna pozadina */
    padding: 80px 0;
    text-align: center;
    height: auto;
  }

  .custom-icon-box {
    color: #fff; /* Bela boja ikonica */
  }

  .custom-slider-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff; /* Bela boja teksta */
  }

  .custom-slider-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #ccc; /* Svetlija boja teksta */
    margin-top: 5px;
  }

  .custom-icon-img {
    width: 90px; /* Fiksna širina */
    height: 90px; /* Fiksna visina */
    color: #fff; /* Bela boja ikonica */
    margin-bottom: 30px;
  }

  .customSwiper {
    width: 100%;
    padding: 0; /* Uklanjanje paddinga */
    margin: 0; /* Uklanjanje margina */
    align-items: center;
  }

  .customSwiper .swiper-wrapper {
    width: 100%; /* Osiguranje da wrapper ide preko cele širine prozora */
    height: auto; /* Visina se prilagođava sadržaju */
  }

  .customSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: auto;
  }

/* #endregion*/

/* #region Slideshow Style */
  .custom-swiper-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .custom-swiper-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: #000000; /* Bela boja teksta */
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .custom-swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .custom-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Održava proporcije slike unutar kontejnera */
  }

  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    color: #fff; /* Bela boja za navigacione dugmiće */
  }

/* #endregion*/

/* #region Solutions Section Styles */
.solutions-section {
  background-color: #f9f9f9;
}

.solution-section-container {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.solutions-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #000000;
  padding: 60px;
}

.solution-card {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solution-card:hover {
  transform: translateY(-5px);
  /* manja senka */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  */
  /* veca senka */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  
}

.solution-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin: 40px;
}

.solution-text {
  font-size: 1rem;
  color: #666;
  margin: 40px;
}

.solution-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #007bff;
  text-decoration: none;
  margin: 40px;
}

.solution-link:hover {
  text-decoration: underline;
}
/* #endregion */

/* #region Schedule Meeting Section Style */
.schedule-meeting .title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  padding-bottom: 20px;
  margin-top: 30px;
}

.schedule-meeting .text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #000000;
}

.schedule-meeting .form-label {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
}

.schedule-meeting .form-control {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

.schedule-meeting .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.schedule-meeting .col-md-6.p-4 {
  background-color: #bdb2c3; /* Pozadinska boja */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px; /* Prostor oko teksta */
  color: #fff; /* Bela boja teksta za bolji kontrast */
  border-top: 2px solid #000;
}

.schedule-meeting .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.schedule-meeting .btn:hover {
  background-color: #0056b3;
}

.schedule-meeting .img-fluid {
  width: auto;
  height: 800px;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-top: 2px solid #000;
}

@media (max-width: 767.98px) {
  .schedule-meeting .text-left {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* #endregion */

/* #region FAQ Section Style ======= */
.faq-section {
  padding: 50px 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.faq-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

.faq-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.faq-container {
  padding-left: 20px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  display: flex;
  color: #000000;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  letter-spacing: -2px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  font-size: 1.5rem;
  transition: max-height 0.5s ease-out, padding 1s ease-out;
}

.faq-answer.open {
  max-height: 500px; /* Adjust based on content */
  padding-top: 10px;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  transition: transform 2s ease;
}

.faq-toggle.open {
  transform: rotate(45deg);
}

.faq-toggle:hover {
  color: #000;
}

hr {
  border: none; /* Uklanja default border */
  height: 2px; /* Visina linije */
  background-color: #000; /* Crna boja */
  margin: 10px 0; /* Margina iznad i ispod linije */
}

.faq-image {
  position: relative;
  max-width: 70%;
  padding: 0 40px;
  border-radius: 1000px;
  object-fit: cover;
  overflow: hidden;
}

/* #endregion */

/* #region Instagram Section Style */

.instagram-section {
  background-color: #bdb2c3;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

}

.instagram-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none; /* Uklanja podvlačenje linka */
  color: inherit; /* Nasleđuje boju teksta */
  transition: transform 0.3s ease; /* Dodavanje tranzicije za hover efekat */
}

.instagram-title:hover {
  transform: scale(1.1); /* Blago uvećanje teksta prilikom hovera */
}

.instagram-embed iframe {
  border-radius: 10px;
  max-width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* #endregion */

/* #region Footer Section Style */
  .custom-footer {
    background-color: #bdb2c3;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }

  .footer-left,
  .footer-right {
    text-align: left;
  }

  .footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
  }

  .footer-right h3 {
    font-family: 'Space Grotesk';
    font-style: bold;
    margin: 0;
    margin-top: 20px;
    text-align: right;
  }

  .footer-link {
    color: #000; 
    text-decoration: none; 
  }
  
  .footer-link:hover {
    font-size: larger;
  }
/* #endregion */
